
/*h2 {
    font: bold 114% Arial,sans-serif;
    color: #006699 }
*/
    body{font-family:'Inter', sans-serif;font-size: 16px;}

    a{text-decoration: none;} /* senza sottolineatura*/
    h2,h3,h4,h5,p{padding-top: 30px; padding-Bottom: 20px; color:rgb(30, 80, 13);} /**/
    h1{color:rgba(101, 102, 9, 0.645);}
    p{color:#666; font-weight:600px;font-size: 20px; color:rgb(24, 141, 94);line-height:28px;margin:2px;} /*; #666;line-height:28px;*/
    .big-text{font-size: 60px;font-weight: bold;}
    .med-text{font-size: 40px;}
    .normal-text{font-size: 20px;}
    .small-text{font-size: 14px;}


 .mt-1{margin-top:50px;margin-left: 6px;}
 .mt-2{margin-top: 12px;margin-bottom: 12px;margin-left: 12px;}
 .mt-3{margin-top: 150px;}
 .mt-4{margin-bottom: 1px;margin-top: 50px;}
 .mt-5{margin-top: 1px;}
 .mt-6{margin-top: 50px;}
 .tw{color: #fff; }
 .tw2{color: rgb(229, 137, 24);}
 .tw3{color: rgb(229, 137, 24);background:#568505;}
 .tw4{color: rgb(229, 137, 24);background:#60ffd5;}
 .tw5{font-size:27px;font-weight:bold;line-height:1em;margin-bottom: 1.2px;margin-top: 1.2px;}
.tw6{display:block;margin-left:25%;}
.twx{color: rgb(229, 137, 24);}

 @media (max-width: 768px) {
    .big-text{font-size: 40px;font-weight: bold;}
  }

  